<div class="container-fluid h-100 p-3">
  <div class="w-100 bg-white h-100 rounded-4 p-3">
    <div class="d-flex align-items-center justify-content-between p-3">
      <h5>Students</h5>
      <div class="box">
        <div class="input-group" style="width: 400px">
          <input
            type="text"
            [formControl]="searchText$"
            class="search-input w-100"
            placeholder="Search students..."
          />
        </div>
      </div>
    </div>

    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fullname</th>
          <th scope="col">Email</th>
          <th scope="col">Grade Level</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of filteredStudents$; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <div class="d-flex gap-2 align-items-center">
              <img
                [src]="student.profile || '../../../assets/images/profile.jpg'"
                width="40px"
                height="40px"
                class="rounded-circle"
              />
              <h6>{{ displayFullname(student) }}</h6>
            </div>
          </td>
          <td>{{ student.email }}</td>
          <td>{{ student.schoolLevel.replace("_", " ") }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
