<div class="modal-header border-0">
  <h5 class="modal-title">Forgot Password ?</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss(null)"
  ></button>
</div>
<div class="modal-body">
  <form (submit)="onSubmit()" [formGroup]="emailForm$">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
      <label for="email" class="form-label">Email:</label>
      <div
        *ngIf="
          emailForm$.get('email')?.hasError('required') &&
          emailForm$.get('email')?.touched
        "
        class="text-danger"
      >
        Email is required.
      </div>
      <div
        *ngIf="
          emailForm$.get('email')?.hasError('email') &&
          emailForm$.get('email')?.touched
        "
        class="text-danger"
      >
        Please enter a valid email address.
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close(null)"
      >
        Cancel
      </button>
      <button
        class="btn btn-dark"
        type="submit"
        [disabled]="emailForm$.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
