<div class="modal-header border-0 bg-danger">
  <h5 class="modal-title text-white">Change Password</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss(null)"
  ></button>
</div>

<div class="modal-body">
  <!-- Display error message if it exists -->
  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>

  <form [formGroup]="passwordForm$" (ngSubmit)="changePassword()">
    <div class="mb-3 form-floating">
      <input
        type="password"
        class="form-control"
        id="oldPassword"
        placeholder="Old Password"
        formControlName="oldPassword"
      />
      <label for="oldPassword">Old Password</label>
      <div
        *ngIf="
          passwordForm$.get('oldPassword')?.invalid &&
          passwordForm$.get('oldPassword')?.touched
        "
        class="text-danger"
      >
        Old password is required.
      </div>
    </div>

    <div class="mb-3 form-floating">
      <input
        type="password"
        class="form-control"
        id="newPassword"
        placeholder="New Password"
        formControlName="newPassword"
      />
      <label for="newPassword">New Password</label>
      <div
        *ngIf="
          passwordForm$.get('newPassword')?.hasError('required') &&
          passwordForm$.get('newPassword')?.touched
        "
        class="text-danger"
      >
        New password is required.
      </div>
      <div
        *ngIf="
          passwordForm$.get('newPassword')?.hasError('minlength') &&
          passwordForm$.get('newPassword')?.touched
        "
        class="text-danger"
      >
        New password must be at least 8 characters.
      </div>
    </div>

    <div class="mb-3 form-floating">
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
      <label for="confirmPassword">Confirm Password</label>
      <div
        *ngIf="
          passwordForm$.hasError('passwordsMismatch') &&
          passwordForm$.get('confirmPassword')?.touched
        "
        class="text-danger"
      >
        Passwords do not match.
      </div>
    </div>
  </form>
</div>
<div class="modal-footer border-0">
  <button type="button" class="btn btn-primary" (click)="changePassword()">
    Change Password
  </button>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.dismiss(null)"
  >
    Cancel
  </button>
</div>
