<div class="modal-header border-0">
  <h5 class="modal-title">Create Game</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss(null)"
  ></button>
</div>
<div class="modal-body">
  <form (submit)="onSubmit()" [formGroup]="quizForm$">
    <div class="form-floating mb-3">
      <input
        type="file"
        class="form-control"
        id="cover"
        (change)="onSelectImage($event)"
        accept="image/*"
        formControlName="cover"
      />
      <label for="cover">Cover Photo</label>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="title"
            formControlName="title"
          />
          <label for="title">Title</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <select
            class="form-select"
            id="subject"
            formControlName="subject"
            aria-label="Floating label select example"
          >
            <option selected value="MATH">MATH</option>
            <option value="ENGLISH">ENGLISH</option>
          </select>
          <label for="subject">Subject</label>
        </div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <textarea
        formControlName="desc"
        class="form-control"
        placeholder="Description"
        id="description"
        style="height: 100px"
      ></textarea>
      <label for="description">Description</label>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-floating mb-3">
          <select
            class="form-select"
            id="category"
            formControlName="category"
            aria-label="Floating label select example"
          >
            <option selected value="QUIZ_GAME">QUIZ GAME</option>
            <option value="PUZZLE_GAME">PUZZLE GAME</option>
            <option value="MEMORY_GAME">MEMORY GAME</option>
            <option value="MATH_GAME">MATH GAME</option>
          </select>
          <label for="category">Category</label>
        </div>
      </div>

      <div class="col-6">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            id="levels"
            formControlName="levels"
          />
          <label for="levels">Levels</label>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close(null)"
      >
        Cancel
      </button>
      <button class="btn btn-dark" type="submit" [disabled]="quizForm$.invalid">
        Save
      </button>
    </div>
  </form>
</div>
