.quiz-card {
  transition: box-shadow 0.3s;
}

.quiz-card:hover {
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.2); /* Adjust shadow size and color as needed */
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.5; /* Adjust this value to match your line height */
  max-height: 3em; /* Adjust this value to fit your two lines, usually line-height * 2 */
}
