<div class="container-fluid vh-100 p-3">
  <div class="box">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4>Leaderboard</h4>
      <input
        type="text"
        class="form-control w-25 search-input"
        placeholder="Search by student name..."
        [formControl]="searchControl"
      />
    </div>
    <div class="flex-grow-1 overflow-auto">
      <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Student</th>
            <th scope="col">Total Matches</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of paginatedStudents; index as i">
            <th scope="row">{{ (currentPage - 1) * pageSize + i + 1 }}</th>
            <td>
              <div class="d-flex gap-2 align-items-center">
                <img
                  [src]="
                    student.student.profile ||
                    '../../../assets/images/profile.jpg'
                  "
                  width="40px"
                  height="40px"
                  class="rounded-circle"
                />
                <h6>{{ displayFullname(student.student) }}</h6>
              </div>
            </td>
            <td>{{ student.totalMatches }}</td>
            <td>{{ student.points }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <ngb-pagination
      [collectionSize]="studentWithSubmissions.length"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
    >
    </ngb-pagination>
  </div>
</div>
